apache-airflow==2.4.2
elasticsearch==7.13.4
apache-airflow-providers-elasticsearch==4.2.1
apache-airflow-providers-mysql==3.2.1
apache-airflow-providers-postgres==5.2.2
apache-airflow-providers-slack==6.0.0
dbt-postgres==1.5.0
geopy==2.3.0
pymysql==1.0.3
python-dotenv==1.0.0
pandas==1.5.1
sqlalchemy==1.4.48